<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我是惠装，终结装修暴利时代，比装修公司省钱40%！</title>
		<meta name="keywords" content="我是惠装，终结装修暴利时代，比装修公司省钱40%！">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--分享使用-->
		<meta itemprop="name" content="惠装网">
		<meta itemprop="description" name="description" content="我是惠装，终结装修暴利时代，比装修公司省钱40%！">
		<meta itemprop="image" content="img_url">
		<meta name="format-detection" content="telephone=no">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	</head>
	<body>